<h2>Produtos</h2>

<ul>
    <li *ngFor="let prod of produtos"(click)="onSelect(prod)">
        <span>{{prod.id}} </span>{{prod.nome}} <span>{{prod.preco}} </span>{{prod.quant}}
    </li>
</ul>

<div *ngIf="selectedProd">
    <h2>{{selectedProd.nome | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedProd.id}}</div>
    <div><span>nome: </span>{{selectedProd.nome}}</div>
    <div><span>preço: </span>{{selectedProd.preco}}</div>
    <div><span>quantidade: </span>{{selectedProd.quant}}</div>

    <div>
        <label for="nome"> Produtos nome:</label>
        <input id="nome" [(ngModel)]="selectedProd.nome">
    </div>
</div>    