input{
  height: 22px;
  border-radius: 3px;
  border: 1px solid rgb(122, 118, 118);
  padding-left: 5px;
  margin-top: 5px;
}

input:focus{
  outline: none;
}
.info{
  margin-bottom: 5px;
}

span{
  font-weight: 600;
}
